<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}" />
    <title>打印文档-女院便捷打印服务系统</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/bootstrap-table.min.css}" rel="stylesheet" type="text/css">
    <style>
        body,
        html {
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
    </style>
</head>
<body>

    <div class="container-fluid" style="min-width: 1200px; height: 100%;">
        <div class="row" style="display: flex; flex-direction: column;height:8%">
            <div th:replace="./user/user_menu.html"></div>
        </div>

        <div class="col-sm-8 text-xs-center text-left" style="margin-top: 0px; padding-left: 0;">
            <form id="fileUp" th:action="@{/file/upload.do}" method="post" enctype="multipart/form-data">
                <input type="file" name="file" id="uploadFile" style="display: inline-block; margin-top: 0px; margin-left: 15px;">
                <input class="btn btn-primary btn-sm" type="submit" value="上传"/>
                <span th:text="${result.getMsg()}"></span>
            </form>
        </div>
        <div>
            <table data-toggle="table" id="table" data-striped="true" data-sort-name="文件名称" data-sort-order="desc"
                   data-search="true" data-strict-search="true" data-pagination="true" data-pagination-loop="false"
                   data-page-size="5" data-page-list=[5,10,20]>
                <thead>
                    <tr>
                        <th data-field="文件ID" data-align="center" data-sortable="true">文件ID</th>
                        <th data-field="文件名称" data-align="center" data-sortable="true">文件名称</th>
                        <th data-field="上传日期" data-align="center" data-sortable="true">上传日期</th>
                        <th data-field="操作" data-align="center" data-sortable="true">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="file,fileStat : ${files}">
                        <td th:text="${file.id}"></td>
                        <td th:text="${file.fileName}"></td>
                        <td th:text="${file.uploadTime}"></td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="#">打印</a>
                            <a class="btn btn-danger btn-sm" th:href="@{/file/del.do(id=${file.id})}">删除</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</body>
<script th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap-table.min.js}"></script>
<script th:src="@{/js/bootstrap-table-zh-CN.min.js}"></script>
<script>
    $(function(){

        var myHeight = window.innerHeight - 80;
        $('#fileListTable').bootstrapTable({
            height: myHeight,
        });
    })
</script>
</html>