<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}" />
    <title>打印文档-女院便捷打印服务系统</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/bootstrap-table.min.css}" rel="stylesheet" type="text/css">
    <style>
        body,
        html {
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
    </style>
</head>
<body>

    <div class="container-fluid" style="min-width: 1200px; height: 100%;">
        <div class="row" style="display: flex; flex-direction: column;height:8%">
            <div th:replace="./user/user_menu.html"></div>
        </div>

        <div class="col-sm-8 text-xs-center text-left" style="margin-top: 0px; padding-left: 0;">
            <form id="fileUp" th:action="@{/file/upload.do}" method="post" enctype="multipart/form-data">
                <input type="file" name="file" id="uploadFile" style="display: inline-block; margin-top: 0px; margin-left: 15px;">
                <input class="btn btn-primary btn-sm" type="submit" value="上传"/>
                <span th:text="${result.getMsg()}"></span>
            </form>
        </div>
        <div>
            <table data-toggle="table" id="table" data-striped="true" data-sort-name="文件名称" data-sort-order="desc"
                   data-search="true" data-strict-search="true" data-pagination="true" data-pagination-loop="false"
                   data-page-size="5" data-page-list=[5,10,20]>
                <thead>
                    <tr>
                        <th data-field="文件ID" data-align="center" data-sortable="true">文件ID</th>
                        <th data-field="文件名称" data-align="center" data-sortable="true">文件名称</th>
                        <th data-field="上传日期" data-align="center" data-sortable="true">上传日期</th>
                        <th data-field="操作" data-align="center" data-sortable="true">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="file,fileStat : ${files}">
                        <td th:text="${file.id}"></td>
                        <td th:text="${file.fileName}"></td>
                        <td th:text="${file.uploadTime}"></td>
                        <td>
                            <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal"
                               href="#" th:onclick="'javascript:test(\''+${file.id}+'\');'">
                                打印
                            </a>
                            <a class="btn btn-danger btn-sm" th:href="@{/file/del.do(id=${file.id})}">删除</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- 打印框体设置 -->
    <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">打印详情</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" th:action="@{/pay/cal.do}" method="get">
                        <div class="form-group">
                            <label for="fileId" class="col-sm-2 control-label">文件 ID:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="fileId" placeholder="文档ID" name="fileId" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fileName" class="col-sm-2 control-label">文件名称:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="fileName" placeholder="文档名称" name="fileName" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="printCopies" class="col-sm-2 control-label">打印份数:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="printCopies" placeholder="打印份数" name="printCopies">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="filePages" class="col-sm-2 control-label">文件页数:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="filePages" placeholder="文件页数" name="filePages">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">是否紧急:</label>
                            <div class="col-sm-10">
                                <div class="radio">
                                    <label style="margin-right: 20px;">
                                        <input type="radio" name="urgentStatus" id="urgentStatus1" value=1>
                                        是
                                    </label>
                                    <label>
                                        <input type="radio" name="urgentStatus" id="urgentStatus2" value=0 checked>
                                        否
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">打印类型:</label>
                            <div class="col-sm-10">
                                <div class="radio">
                                    <label style="margin-right: 20px;">
                                        <input type="radio" name="printType" id="printType1" value=1 checked>
                                        黑白单面
                                    </label>
                                    <label style="margin-right: 20px;">
                                        <input type="radio" name="printType" id="printType2" value=2>
                                        黑白双面
                                    </label>
                                    <label style="margin-right: 20px;">
                                        <input type="radio" name="printType" id="printType3" value=3>
                                        彩色单面
                                    </label>
                                    <label>
                                        <input type="radio" name="printType" id="printType4" value=4>
                                        彩色双面
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="printRemark" class="col-sm-2 control-label">备注信息:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="printRemark" placeholder="备注信息" name="printRemark">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="submit" class="btn btn-primary">确认</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
<script th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap-table.min.js}"></script>
<script th:src="@{/js/bootstrap-table-zh-CN.min.js}"></script>
<script>
    function test(id) {

        var url = "/file/get.do";
        var params = {
            id: id
        }
        $.post(url, params, function(res){
            if(res.code == 10){
                $("#fileId").val(res.data.id);
                $("#fileName").val(res.data.fileName);
            }
        })
    }
    $(function(){
        var myHeight = window.innerHeight - 80;
        $('#fileListTable').bootstrapTable({
            height: myHeight,
        });
    })
</script>
</html>