*{
			padding:0;
			margin:0;
		}
		body{
			margin:0 auto;
			background-image:url("../image/login/bg.jpg");
			background-size:100%;
			background-repeat:no-repeat;
		}
		#wrapper{
			max-width:1000px;
			margin:0 auto;
		}
		h1{
			display:none;
		}
		#logo{
			float:left;
			padding-top:10px;
		}
		#word{
			float:left;
			padding-top:10px;
		}
		.QRcode{
			padding-top:30px;
			margin-left:800px;
			color:rgb(0,176,80)
		}
		a{
			text-decoration:none;
		}
		header{
			height:120px;
			padding-top:10px;
			padding-left:20px;
		}
		.side{
			float:right;
			position:absolute;
			right:300px;
			top:235px;
			width:120px;
			height:200px;
			background-color:rgba(102,102,102,0.6);
			border-radius:10px;
			color:blue;
			padding:10px;
		}
		.register{
			margin:0 auto;
			width:800px;
			height:400px;
			background-color:rgba(255,255,255,0.6);
			box-shadow:0px 0px 15px #9933ff;
		}
		.getInfo{
			border:dashed 2px rgba(0,0,0,0.6);
			width:500px;
			height:260px;
			margin-left:80px;
			margin-top:40px;
		}
		.phoneNum,.checkNum{
			width:460px;
			height:50px;
			margin-top:25px;
			padding-left:18px;
		}
		.inputPhoneNum,.inputCheckNum{
			margin-top:5px;
			margin-left:15px;
			width:260px;
			height:38px;
			border:none;
			font-size:16px;
			padding-left:10px;
			border-radius:5px;
			float:left;
		}
		.imgPhoneNum,.imgCheckNum{
			margin-top:10px;
			float:left;
		}
		.divgetNum{
			margin-left:320px;
			width:140px;
			height:45px;
			background-color:rgba(0,0,0,0.7);
			border-top-left-radius:50px;
			border-bottom-left-radius:50px;
		}
		.userRegister{
			margin-left:60px;
			margin-top:30px;
			padding-top:8px;
			width:260px;
			height:35px;
			background-color:rgb(0,112,192);
			border-radius:10px;
		}
		.myRegister{
			font-size:18px;
			color:#000000;
			padding-bottom:12px;
			padding-top:10px;
		}
		.divmyRegister{
			margin-left:110px;
			padding-right:110px;
		}
		.registerWord{
			height:50px;
			background-color:rgba(0,112,192,0.6);
		}
		.imgRegister{
			float:left;
			margin-right:605px;
		}
		.return{
			padding-top:22px;
			padding-bottom:5px;
			padding-left:12px;
			padding-right:12px;
		}
		.imgback{
			margin-top:10px;
		}